<ng-container *ngIf="(isLoading$ | async) === false; else loading">
  <ng-container *ngIf="propertyList$ | async as propertyList">
    <mat-toolbar color="primary">
      {{ propertyList | propertyListTitle }}
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item [routerLink]="[property.propertyID]" *ngFor="let property of propertyList?.records">
        {{ property.name }}
      </a>
    </mat-nav-list>
  </ng-container>
</ng-container>

<ng-template #loading>
  <mat-toolbar color="primary"> Loading... </mat-toolbar>
</ng-template>
