mat-expansion-panel {
  border-bottom: 1px solid var(--default-border-color);
}

mat-panel-description.align-right {
  flex-grow: 0;
  color: var(--primary-color);
  font-size: 1.1rem;
}

img {
  width: 100%;
  height: auto;
}
