<smartmap-map [config]="mapConfig">
  <!-- Property List -->
  <smartmap-source
    id="property-list"
    [data]="currentPropertyList$ | async | geojson"
    [maxZoom]="17"
    [zoomPadding]="60"
    [zoomToFit]="true"
  ></smartmap-source>

  <ng-container *ngIf="(currentView$ | async) === 'property-list'">
    <smartmap-layer
      id="property-list"
      sourceId="property-list"
      type="circle"
      [paint]="{
        'circle-radius': 30,
        'circle-color': '#fecccc',
        'circle-opacity': 0.75,
        'circle-stroke-width': 3,
        'circle-stroke-color': '#e09494',
        'circle-stroke-opacity': 1
      }"
      [interactive]="true"
      (click)="onPropertyListClick($event)"
    ></smartmap-layer>
  </ng-container>

  <!-- Property Details -->
  <smartmap-source
    id="property-details"
    [data]="currentProperty$ | async | geojson"
    [maxZoom]="17"
    [zoomPadding]="60"
    [zoomToFit]="true"
  ></smartmap-source>

  <ng-container *ngIf="(currentView$ | async) === 'property-details'">
    <smartmap-layer
      id="property-details"
      sourceId="property-details"
      type="circle"
      [paint]="{
        'circle-radius': 30,
        'circle-color': '#75acff',
        'circle-opacity': 0.75,
        'circle-stroke-width': 3,
        'circle-stroke-color': '#5193f7',
        'circle-stroke-opacity': 1
      }"
    ></smartmap-layer>
  </ng-container>

  <!-- Charles' Home -->
  <smartmap-source
    id="property-charles"
    [data]="charlesHome"
    [maxZoom]="17"
    [zoomPadding]="60"
    [zoomToFit]="false"
  ></smartmap-source>

  <ng-container *ngIf="(currentView$ | async) === 'property-charles'">
    <smartmap-layer
      id="property-charles"
      sourceId="property-charles"
      type="circle"
      [paint]="{
        'circle-radius': 30,
        'circle-color': '#75acff',
        'circle-opacity': 0.75,
        'circle-stroke-width': 3,
        'circle-stroke-color': '#5193f7',
        'circle-stroke-opacity': 1
      }"
    ></smartmap-layer>
  </ng-container>

  <!-- <smartmap-marker [position]="coordinates$ | async">
    <smartmap-marker-icon></smartmap-marker-icon>
  </smartmap-marker> -->
</smartmap-map>
