<img src="assets/img/charles.jpeg" alt="" />
<h1>HI, I'M CHARLES</h1>

<p>I'm a software developer from Curitiba, Brazil.</p>

<p>
  On the map you can see where I live. If you happen to be in the area, feel free to stop by, have some coffee and chat
  about coding or anything else.
</p>

<p>I like to run, read books, play video games and spend quality time with my baby and my wife.</p>

<p>
  I've had a great time taking this assessment, and strived to write some clean code. I hope you enjoy it, and that I
  get the chance to be part of the team to learn a lot more with you guys!
</p>

<p>
  Best regards,<br />
  <strong>Charles</strong>
</p>
