@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$blue-palette, 700);
$my-accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
  )
);

@include mat.all-component-themes($my-theme);

:root {
  --primary-color: #1976d2;
  --secondary-color: #2196f3;
  --color-white: white;
  --color-black: hsl(0, 0%, 20%);
  --color-light-grey: hsl(0, 0%, 65%);
  --color-dark-grey: hsl(0, 0%, 55%);
  --default-padding: 1rem;
  --smaller-padding: 0.5rem;
  --smallest-padding: 0.33rem;
  --default-border-color: hsl(0, 0%, 90%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 22px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: #00000022;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #00000066;
  border-radius: 0;
}

.sidenav mat-toolbar {
  padding: var(--smaller-padding) var(--default-padding);
  font-size: 0.9rem;
  font-weight: 400;
  height: 3rem;

  a {
    text-decoration: none;
    color: var(--color-white);
    font-weight: 600;
  }
}

.default-padding {
  padding: var(--default-padding);
}
.smaller-padding {
  padding: var(--smaller-padding);
}
.smallest-padding {
  padding: var(--smallest-padding);
}
